#s-25387711-e52b-42de-be27-311e6a85ef5e #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-25387711-e52b-42de-be27-311e6a85ef5e #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-25387711-e52b-42de-be27-311e6a85ef5e #s-Title_1 {
  -ms-transform: rotate(0.0deg);
}
#s-25387711-e52b-42de-be27-311e6a85ef5e #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-25387711-e52b-42de-be27-311e6a85ef5e #s-Title_2 {
  -ms-transform: rotate(0.0deg);
}
#s-25387711-e52b-42de-be27-311e6a85ef5e #s-Bg_3 {
  -ms-transform: rotate(0.0deg);
}
#s-25387711-e52b-42de-be27-311e6a85ef5e #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-25387711-e52b-42de-be27-311e6a85ef5e #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-25387711-e52b-42de-be27-311e6a85ef5e #s-Title_3 {
  -ms-transform: rotate(0.0deg);
}
#s-25387711-e52b-42de-be27-311e6a85ef5e #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-25387711-e52b-42de-be27-311e6a85ef5e #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-25387711-e52b-42de-be27-311e6a85ef5e #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 26px;
  width: 154px;
  -pie-background: linear-gradient(to bottom,#EFEFEF,#000000);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-25387711-e52b-42de-be27-311e6a85ef5e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-25387711-e52b-42de-be27-311e6a85ef5e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-25387711-e52b-42de-be27-311e6a85ef5e #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-25387711-e52b-42de-be27-311e6a85ef5e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-25387711-e52b-42de-be27-311e6a85ef5e #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-25387711-e52b-42de-be27-311e6a85ef5e #s-Paragraph_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EDCAFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EDCAFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EDCAFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EDCAFB;
  -pie-background: linear-gradient(to bottom,#699CFC,#EDCAFB);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-25387711-e52b-42de-be27-311e6a85ef5e #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-25387711-e52b-42de-be27-311e6a85ef5e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}