#s-2d6bff0d-daab-45e2-a8fa-b0f882a68726 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2d6bff0d-daab-45e2-a8fa-b0f882a68726 #s-Circle_23 {
  stroke-width: 4px;
  stroke: #CECECE;
  -ms-transform: rotate(0.0deg);
}
#s-2d6bff0d-daab-45e2-a8fa-b0f882a68726 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-2d6bff0d-daab-45e2-a8fa-b0f882a68726 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2d6bff0d-daab-45e2-a8fa-b0f882a68726 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 38px;
  width: 144px;
  -pie-background: linear-gradient(to bottom,#663FFB,#000000);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-2d6bff0d-daab-45e2-a8fa-b0f882a68726 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}