#s-2d6bff0d-daab-45e2-a8fa-b0f882a68726 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d6bff0d-daab-45e2-a8fa-b0f882a68726 #s-Circle_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d6bff0d-daab-45e2-a8fa-b0f882a68726 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d6bff0d-daab-45e2-a8fa-b0f882a68726 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d6bff0d-daab-45e2-a8fa-b0f882a68726 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d6bff0d-daab-45e2-a8fa-b0f882a68726 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}