#s-3a838e0a-dcb0-4cec-8354-470f23e97598 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a838e0a-dcb0-4cec-8354-470f23e97598 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a838e0a-dcb0-4cec-8354-470f23e97598 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a838e0a-dcb0-4cec-8354-470f23e97598 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a838e0a-dcb0-4cec-8354-470f23e97598 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a838e0a-dcb0-4cec-8354-470f23e97598 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a838e0a-dcb0-4cec-8354-470f23e97598 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a838e0a-dcb0-4cec-8354-470f23e97598 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a838e0a-dcb0-4cec-8354-470f23e97598 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a838e0a-dcb0-4cec-8354-470f23e97598 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}