#s-3a838e0a-dcb0-4cec-8354-470f23e97598 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a838e0a-dcb0-4cec-8354-470f23e97598 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 42px;
  width: 117px;
  -pie-background: linear-gradient(to bottom,#663FFB,#000000);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-3a838e0a-dcb0-4cec-8354-470f23e97598 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 39px;
  width: 114px;
  -pie-background: linear-gradient(to bottom,#663FFB,#000000);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-3a838e0a-dcb0-4cec-8354-470f23e97598 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a838e0a-dcb0-4cec-8354-470f23e97598 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a838e0a-dcb0-4cec-8354-470f23e97598 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3a838e0a-dcb0-4cec-8354-470f23e97598 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 8px 8px 8px 8px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 42px;
  width: 105px;
  -pie-background: linear-gradient(to bottom,#663FFB,#000000);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-3a838e0a-dcb0-4cec-8354-470f23e97598 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3a838e0a-dcb0-4cec-8354-470f23e97598 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3a838e0a-dcb0-4cec-8354-470f23e97598 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}