#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 9px 9px 9px 9px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  height: 47px;
  width: 130px;
  -pie-background: linear-gradient(to bottom,#00FFFF,#4A86E8);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 9px 9px 9px 9px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  height: 47px;
  width: 130px;
  -pie-background: linear-gradient(to bottom,#00FFFF,#4A86E8);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}