#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Image_1 {
  position: absolute;
  width: 1034px;
  height: 773px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Image_1 > img, #s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Image_1 > svg {
  height: 773px;
  width: 1034px;
  box-shadow: none;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_1 {
  position: absolute;
  width: calc(847px - 71px);
  height: 35px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  margin-right: 70px;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_1 > .paddingLayer {
  height: 33px;
  width: calc(840px - 71px);
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_1 > .icon, #s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_1 > .file-input {
  right: -71px;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Button_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#00FFFF,#4A86E8);
  background-image: -webkit-linear-gradient(top,#00FFFF,#4A86E8);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#00FFFF), color-stop(100%,#4A86E8));
  background-image: -o-linear-gradient(top,#00FFFF,#4A86E8);
  background-image: linear-gradient(to bottom,#00FFFF,#4A86E8);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 9px 9px 9px 9px;
  box-shadow: none;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Button_1 {
  position: absolute;
  width: 142px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Cambria',Arial;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Button_1 > .clipping, #s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Button_1 > .paddingLayer {
  height: 47px;
  width: 130px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Cambria',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Cambria',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_1 > .clipping, #s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_2 > .clipping, #s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_3 {
  position: absolute;
  width: 847px;
  height: 29px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_3 > .paddingLayer {
  height: 27px;
  width: 840px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_2 {
  position: absolute;
  width: 876px;
  height: 133px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_2 input {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  box-shadow: none;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Input_2 > .paddingLayer {
  height: 131px;
  width: 869px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 22.0pt;
  font-family: 'Bahnschrift',Arial;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_3 > .clipping, #s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Bahnschrift',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Text_3 span#rtr-s-Text_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Bahnschrift',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Button_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#00FFFF,#4A86E8);
  background-image: -webkit-linear-gradient(top,#00FFFF,#4A86E8);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#00FFFF), color-stop(100%,#4A86E8));
  background-image: -o-linear-gradient(top,#00FFFF,#4A86E8);
  background-image: linear-gradient(to bottom,#00FFFF,#4A86E8);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 9px 9px 9px 9px;
  box-shadow: none;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Button_2 {
  position: absolute;
  width: 142px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Cambria',Arial;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Button_2 > .clipping, #s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Button_2 > .paddingLayer {
  height: 47px;
  width: 130px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Cambria',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Cambria',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4fba7bb7-b3a4-45bc-914c-30816f5e4c9c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}