#s-5698263a-6287-44ee-85bd-9e04518eaedf #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5698263a-6287-44ee-85bd-9e04518eaedf #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5698263a-6287-44ee-85bd-9e04518eaedf #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5698263a-6287-44ee-85bd-9e04518eaedf #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5698263a-6287-44ee-85bd-9e04518eaedf #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5698263a-6287-44ee-85bd-9e04518eaedf #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5698263a-6287-44ee-85bd-9e04518eaedf #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5698263a-6287-44ee-85bd-9e04518eaedf #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5698263a-6287-44ee-85bd-9e04518eaedf #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5698263a-6287-44ee-85bd-9e04518eaedf #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-5698263a-6287-44ee-85bd-9e04518eaedf #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5698263a-6287-44ee-85bd-9e04518eaedf #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-5698263a-6287-44ee-85bd-9e04518eaedf #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5698263a-6287-44ee-85bd-9e04518eaedf #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5698263a-6287-44ee-85bd-9e04518eaedf #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5698263a-6287-44ee-85bd-9e04518eaedf #s-TECHNICAL-options {
  background-color: #FFFFFF;
}
#s-5698263a-6287-44ee-85bd-9e04518eaedf #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-5698263a-6287-44ee-85bd-9e04518eaedf #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-5698263a-6287-44ee-85bd-9e04518eaedf #s-Circle_23 {
  stroke-width: 4px;
  stroke: #CECECE;
  -ms-transform: rotate(0.0deg);
}
#s-5698263a-6287-44ee-85bd-9e04518eaedf #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-5698263a-6287-44ee-85bd-9e04518eaedf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}