#s-59e989aa-a726-4b14-b439-1c43731554f5 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-59e989aa-a726-4b14-b439-1c43731554f5 #s-Circle_23 {
  stroke-width: 4px;
  stroke: #CECECE;
  -ms-transform: rotate(0.0deg);
}
#s-59e989aa-a726-4b14-b439-1c43731554f5 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-59e989aa-a726-4b14-b439-1c43731554f5 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-59e989aa-a726-4b14-b439-1c43731554f5 #s-Text_2 {
  -pie-background: linear-gradient(to bottom,#9900FF,#000000);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-59e989aa-a726-4b14-b439-1c43731554f5 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-59e989aa-a726-4b14-b439-1c43731554f5 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-59e989aa-a726-4b14-b439-1c43731554f5 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-59e989aa-a726-4b14-b439-1c43731554f5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}