#s-61b94d59-c408-4b4f-b342-e64ab9d28e3c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61b94d59-c408-4b4f-b342-e64ab9d28e3c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61b94d59-c408-4b4f-b342-e64ab9d28e3c #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61b94d59-c408-4b4f-b342-e64ab9d28e3c #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61b94d59-c408-4b4f-b342-e64ab9d28e3c #s-Input_1 INPUT {
  font-family: Arial;
}
#s-61b94d59-c408-4b4f-b342-e64ab9d28e3c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61b94d59-c408-4b4f-b342-e64ab9d28e3c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61b94d59-c408-4b4f-b342-e64ab9d28e3c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}