#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Image_1 {
  position: absolute;
  width: 1023px;
  height: 770px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Image_1 > img, #s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Image_1 > svg {
  height: 770px;
  width: 1023px;
  box-shadow: none;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Group_2 {
  position: absolute;
  width: 975px;
  height: 46px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Input_2 {
  position: absolute;
  width: 683px;
  height: 46px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Input_2 input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Input_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Input_2 > .paddingLayer {
  height: 42px;
  width: 624px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 42px;
  padding-right: 17px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Image_2 > svg {
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Image_2 {
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Image_2 > img, #s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Image_2 > svg {
  height: 20px;
  width: 20px;
  box-shadow: none;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #282828;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Rectangle_2 {
  position: absolute;
  width: 315px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Rectangle_2 > .clipping, #s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Rectangle_2 > .paddingLayer {
  height: 46px;
  width: 315px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Previous-icon {
  position: absolute;
  width: 60px;
  height: 60px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #shapewrapper-s-Circle_23 > .shapert-clipping {
  width: 60px;
  height: 60px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #shapewrapper-s-Circle_23 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  overflow: hidden;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #shapewrapper-s-Circle_23 .content {
  text-shadow: none;
  width: 60px;
  height: 60px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #shapewrapper-s-Circle_23 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #shapewrapper-s-Circle_23 {
  position: absolute;
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Circle_23 {
  width: 56px;
  height: 56px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  stroke-width: 4px;
  stroke: #CECECE;
  box-shadow: none;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #shapewrapper-s-Circle_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #shapewrapper-s-Circle_23 span {
  color: #F2F2F2;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #shapewrapper-s-Circle_23 span#rtr-s-Circle_23_0 {
  color: #F2F2F2;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Image_26 > svg {
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Image_26 {
  position: absolute;
  width: 27px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Image_26 > img, #s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Image_26 > svg {
  height: 29px;
  width: 27px;
  box-shadow: none;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Text_1 > .clipping, #s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Button_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#663FFB,#000000);
  background-image: -webkit-linear-gradient(top,#663FFB,#000000);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#663FFB), color-stop(100%,#000000));
  background-image: -o-linear-gradient(top,#663FFB,#000000);
  background-image: linear-gradient(to bottom,#663FFB,#000000);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 9px 9px 9px 9px;
  box-shadow: none;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Button_1 {
  position: absolute;
  width: 175px;
  height: 59px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Button_1 > .clipping, #s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Button_1 > .paddingLayer {
  height: 47px;
  width: 163px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}