#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Circle_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}