#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Circle_23 {
  stroke-width: 4px;
  stroke: #CECECE;
  -ms-transform: rotate(0.0deg);
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 9px 9px 9px 9px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  height: 47px;
  width: 163px;
  -pie-background: linear-gradient(to bottom,#663FFB,#000000);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-8fcb0581-5b9c-496e-84cf-41f469fefc54 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}