#s-bbc1acc2-98d3-4eda-b0ed-6732121c6d8d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbc1acc2-98d3-4eda-b0ed-6732121c6d8d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbc1acc2-98d3-4eda-b0ed-6732121c6d8d #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbc1acc2-98d3-4eda-b0ed-6732121c6d8d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}