#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Circle_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}