#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Group_1 {
  position: absolute;
  width: 1019px;
  height: 735px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_1 {
  position: absolute;
  width: 1019px;
  height: 735px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_1 > .clipping, #s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_1 > .paddingLayer {
  height: 735px;
  width: 1019px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_1 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_1 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_1 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_1 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_1 {
  position: absolute;
  width: 457px;
  height: 52px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_1 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_1 > .paddingLayer {
  height: 44px;
  width: 434px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 9px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_3 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_3 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_3 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_3 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_3 {
  position: absolute;
  width: 457px;
  height: 52px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_3 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_3 > .paddingLayer {
  height: 44px;
  width: 434px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 9px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_4 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_4 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_4 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_4 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_4 {
  position: absolute;
  width: 457px;
  height: 52px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_4 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_4 > .paddingLayer {
  height: 44px;
  width: 434px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 9px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_5 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_5 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_5 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_5 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_5 {
  position: absolute;
  width: 231px;
  height: 52px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_5 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_5 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_5 > .paddingLayer {
  height: 44px;
  width: 208px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 9px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_6 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_6 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_6 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_6 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_6 {
  position: absolute;
  width: 457px;
  height: 52px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_6 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_6 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_6 > .paddingLayer {
  height: 44px;
  width: 434px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 9px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_1 > .clipping, #s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_1 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_2 > .clipping, #s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_2 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_3 > .clipping, #s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_3 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_4 > .clipping, #s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_4 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_5 > .clipping, #s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_5 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_6 > .clipping, #s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_6 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_7 > .clipping, #s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_7 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_8 > .clipping, #s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_8 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_8 span#rtr-s-Text_8_1 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_8 span#rtr-s-Text_8_2 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_7 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_7 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_7 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_7 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_7 {
  position: absolute;
  width: 212px;
  height: 52px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_7 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_7 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_7 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_7 > .paddingLayer {
  height: 44px;
  width: 189px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 9px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_10 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_10 > .clipping, #s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_10 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_10 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_11 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_11 > .clipping, #s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_11 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_11 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_12 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_12 > .clipping, #s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_12 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_12 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_3 {
  position: absolute;
  width: 29px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Light',Arial;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_3 > .clipping, #s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_3 > .paddingLayer {
  height: 14px;
  width: 29px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_3 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #282828;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_2 {
  position: absolute;
  width: 160px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_2 > .clipping, #s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_2 > .paddingLayer {
  height: 43px;
  width: 160px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_2 {
  position: absolute;
  width: 183px;
  height: 55px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
  text-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_2 > .paddingLayer {
  height: 53px;
  width: 176px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_2 .icon {
  top: 19px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_9 > .clipping, #s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_9 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_10 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_10 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_10 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_10 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_10 {
  position: absolute;
  width: 240px;
  height: 55px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_10 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_10 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_10 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_10 > .paddingLayer {
  height: 53px;
  width: 233px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-TECHNICAL > select {
  background-color: #FFFFFF;
  background-image: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-TECHNICAL > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-TECHNICAL {
  position: absolute;
  width: 441px;
  height: 52px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-TECHNICAL > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-TECHNICAL > .paddingLayer {
  height: 50px;
  width: 434px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Category_1 > select {
  background-color: #FFFFFF;
  background-image: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Category_1 > .dropdown-options {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  left: 0px;
  top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Category_1 {
  position: absolute;
  width: 219px;
  height: 50px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Category_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Category_1 > .paddingLayer {
  height: 48px;
  width: 212px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_8 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_8 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_8 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_8 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_8 {
  position: absolute;
  width: 243px;
  height: 50px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_8 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_8 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_8 > .paddingLayer {
  height: 48px;
  width: 236px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_13 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_13 > .clipping, #s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_13 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_9 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_9 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_9 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_9 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_9 {
  position: absolute;
  width: 766px;
  height: 103px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_9 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_9 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_9 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Input_9 > .paddingLayer {
  height: 101px;
  width: 759px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 1px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Previous-icon {
  position: absolute;
  width: 42px;
  height: 44px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #shapewrapper-s-Circle_23 > .shapert-clipping {
  width: 42px;
  height: 44px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #shapewrapper-s-Circle_23 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 42px;
  height: 44px;
  position: absolute;
  overflow: hidden;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #shapewrapper-s-Circle_23 .content {
  text-shadow: none;
  width: 42px;
  height: 44px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #shapewrapper-s-Circle_23 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #shapewrapper-s-Circle_23 {
  position: absolute;
  width: 42px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Circle_23 {
  width: 38px;
  height: 40px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  stroke-width: 4px;
  stroke: #CECECE;
  box-shadow: none;
  cursor: pointer;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #shapewrapper-s-Circle_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #shapewrapper-s-Circle_23 span {
  color: #F2F2F2;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #shapewrapper-s-Circle_23 span#rtr-s-Circle_23_0 {
  color: #F2F2F2;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Image_26 > svg {
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Image_26 {
  position: absolute;
  width: 19px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Image_26 > img, #s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 #s-Image_26 > svg {
  height: 20px;
  width: 19px;
  box-shadow: none;
}
#s-bcac5c66-a610-4959-b8cf-4908acd5f2c3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}