#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 34px;
  width: 148px;
  -pie-background: linear-gradient(to bottom,#00FFFF,#4A86E8);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 7px 7px 7px 7px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 34px;
  width: 144px;
  -pie-background: linear-gradient(to bottom,#00FFFF,#4A86E8);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Circle_23 {
  stroke-width: 4px;
  stroke: #CECECE;
  -ms-transform: rotate(0.0deg);
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}