#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Image_1 {
  position: absolute;
  width: 1028px;
  height: 771px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Image_1 > img, #s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Image_1 > svg {
  height: 771px;
  width: 1028px;
  box-shadow: none;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Button_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#00FFFF,#4A86E8);
  background-image: -webkit-linear-gradient(top,#00FFFF,#4A86E8);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#00FFFF), color-stop(100%,#4A86E8));
  background-image: -o-linear-gradient(top,#00FFFF,#4A86E8);
  background-image: linear-gradient(to bottom,#00FFFF,#4A86E8);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Button_1 {
  position: absolute;
  width: 158px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Cambria',Arial;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Button_1 > .clipping, #s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Button_1 > .paddingLayer {
  height: 34px;
  width: 148px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Cambria',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Cambria',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Button_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#00FFFF,#4A86E8);
  background-image: -webkit-linear-gradient(top,#00FFFF,#4A86E8);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#00FFFF), color-stop(100%,#4A86E8));
  background-image: -o-linear-gradient(top,#00FFFF,#4A86E8);
  background-image: linear-gradient(to bottom,#00FFFF,#4A86E8);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Button_2 {
  position: absolute;
  width: 154px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Cambria',Arial;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Button_2 > .clipping, #s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Button_2 > .paddingLayer {
  height: 34px;
  width: 144px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Cambria',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Cambria',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Previous-icon {
  position: absolute;
  width: 60px;
  height: 60px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #shapewrapper-s-Circle_23 > .shapert-clipping {
  width: 60px;
  height: 60px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #shapewrapper-s-Circle_23 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  overflow: hidden;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #shapewrapper-s-Circle_23 .content {
  text-shadow: none;
  width: 60px;
  height: 60px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #shapewrapper-s-Circle_23 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #shapewrapper-s-Circle_23 {
  position: absolute;
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Circle_23 {
  width: 56px;
  height: 56px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  stroke-width: 4px;
  stroke: #CECECE;
  box-shadow: none;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #shapewrapper-s-Circle_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #shapewrapper-s-Circle_23 span {
  color: #F2F2F2;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #shapewrapper-s-Circle_23 span#rtr-s-Circle_23_0 {
  color: #F2F2F2;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Image_26 > svg {
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Image_26 {
  position: absolute;
  width: 27px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Image_26 > img, #s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Image_26 > svg {
  height: 29px;
  width: 27px;
  box-shadow: none;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 22.0pt;
  font-family: 'OpenSans-Bold',Arial;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Text_2 > .clipping, #s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Text_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 22.0pt;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_1 {
  position: absolute;
  width: 307px;
  height: 202px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 24px;
  font-size: 16.0pt;
  font-family: 'Bahnschrift',Arial;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_1 > .clipping, #s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_1 > .paddingLayer {
  height: 202px;
  width: 307px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Bahnschrift',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Bahnschrift',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_1 span#rtr-s-Rectangle_1_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_1 span#rtr-s-Rectangle_1_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_1 span#rtr-s-Rectangle_1_3 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Bahnschrift',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_1 span#rtr-s-Rectangle_1_4 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Bahnschrift',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_2 {
  position: absolute;
  width: 307px;
  height: 202px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 24px;
  font-size: 16.0pt;
  font-family: 'Bahnschrift',Arial;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_2 > .clipping, #s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_2 > .paddingLayer {
  height: 202px;
  width: 307px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Bahnschrift',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Bahnschrift',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_2 span#rtr-s-Rectangle_2_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_2 span#rtr-s-Rectangle_2_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_2 span#rtr-s-Rectangle_2_3 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Bahnschrift',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_2 span#rtr-s-Rectangle_2_4 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Bahnschrift',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}