#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Circle_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d1e0a2b3-4e50-4db9-bbe1-2d352dd8d418 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}