#s-d8095ba7-1ed3-4426-85b8-a1956810b1e5 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8095ba7-1ed3-4426-85b8-a1956810b1e5 #s-Circle_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8095ba7-1ed3-4426-85b8-a1956810b1e5 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8095ba7-1ed3-4426-85b8-a1956810b1e5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8095ba7-1ed3-4426-85b8-a1956810b1e5 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8095ba7-1ed3-4426-85b8-a1956810b1e5 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8095ba7-1ed3-4426-85b8-a1956810b1e5 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8095ba7-1ed3-4426-85b8-a1956810b1e5 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d8095ba7-1ed3-4426-85b8-a1956810b1e5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}