#s-f3581e31-6dd6-4741-becf-c8d295333dbc #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3581e31-6dd6-4741-becf-c8d295333dbc #s-Circle_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3581e31-6dd6-4741-becf-c8d295333dbc #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3581e31-6dd6-4741-becf-c8d295333dbc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3581e31-6dd6-4741-becf-c8d295333dbc #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3581e31-6dd6-4741-becf-c8d295333dbc #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3581e31-6dd6-4741-becf-c8d295333dbc #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3581e31-6dd6-4741-becf-c8d295333dbc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}