#s-f4f682ea-ded9-4fcc-a2fa-f1f84246e208 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f4f682ea-ded9-4fcc-a2fa-f1f84246e208 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f4f682ea-ded9-4fcc-a2fa-f1f84246e208 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f4f682ea-ded9-4fcc-a2fa-f1f84246e208 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f4f682ea-ded9-4fcc-a2fa-f1f84246e208 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f4f682ea-ded9-4fcc-a2fa-f1f84246e208 #s-Input_1 INPUT {
  font-family: Arial;
}
#s-f4f682ea-ded9-4fcc-a2fa-f1f84246e208 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f4f682ea-ded9-4fcc-a2fa-f1f84246e208 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}